@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}

	code {
		@apply text-orange-800 bg-gray-300 p-1 text-xs;
	}
}

@layer components {
	div.pageImport h2 {
		@apply text-2xl mb-2 text-gray-400 bg-gray-700 py-1 px-2 rounded w-[60rem] mt-8 first:mt-2;
	}
}

a.active {
	color: rgb(228, 228, 228);
}

table.notation {
	tbody {
		tr {
			td {
				height: 2rem;
			}

			td:nth-child(1) {
				padding-right: 1rem;

				&:after {
					content: ':';
				}
			}

			td:nth-child(2) {
				font-family: courier;
				color: brown;
				padding-top: .3rem;
			}
		}
	}
}