@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}

	code {
		@apply text-orange-800 bg-gray-300 p-1 text-xs;
	}

	button {
		@apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
	}
}

@layer components {
	div.pageImport h2 {
		@apply text-2xl mb-2 text-gray-400 bg-gray-700 py-1 px-2 rounded w-[60rem] mt-2 first:mt-2 cursor-pointer select-none;
	}
}

a.active {
	color: rgb(228, 228, 228);
}

div.pageImport {
	h2:hover {
		opacity: .95;
	}
}

section.groupDpodItems {
	h3 {
		.selected {
			color: #000;
			font-weight: bold;
		}

		.unselected {
			color: #333;
			font-weight: normal;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	table {
		border: 2px solid #111;
		margin-bottom: 1rem;

		thead {
			tr {
				th {
					background-color: #888;
					padding: .5rem;
					border: 1px solid #111;

				}
			}
		}

		tbody {
			tr {
				td.title {
					font-weight: bold;
					height: 2rem;
				}

				td {
					padding: .5rem;
					border: 1px solid #111;
					background-color: #fff;
					font-family: courier;
					vertical-align: top;
				}
			}
		}
	}
}

table.dpodSchema {
	border: 2px solid #111;

	tbody {
		tr {
			td.title {
				font-weight: bold;
				height: 2rem;
			}

			td {
				padding: .5rem;
				border: 1px solid #111;
				background-color: #fff;
				font-family: courier;
				vertical-align: top;
			}
		}
	}
}

table.notation {
	tbody {
		tr {
			td {
				height: 2rem;
			}

			td:nth-child(1) {
				padding-right: 1rem;

				&:after {
					content: ':';
				}
			}

			td:nth-child(2) {
				font-family: courier;
				color: brown;
				padding-top: .3rem;
			}
		}
	}
}